@import 'variables';

body, html {
    margin: 0;
    height: 100%
}

* {
    box-sizing: border-box;
}

body {
    background: black;
}

.app {
    height: 100%;
    display: -webkit-flex;
    display: flex;
}

.flex-center {
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.lobby {
    text-align: center;
    color: $primary-color;
}

.flex-wrap {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.pixi-view {
    height: 100% - (3 * $progressMeterHeight);
    margin: 0px 20px;
    canvas {
        border: 1px solid white;
    }
}

.hidden {
    display: none;
}

.initial {
    -webkit-flex: initial;
    flex: initial;
    width: 200px;
    min-width: 100px;
}

.flex-1 {
    -webkit-flex: 1;
    flex: 1;
}
.flex-2 {
    -webkit-flex: 2;
    flex: 2;
}
.flex-3 {
    -webkit-flex: 3;
    flex: 3;
}

.fill {
    width: 100%
}

@import 'progressMeter';
@import 'spinner';
@import 'sidebar';
